/*--------------------
*   --- MENU ---
* 1. General
* 2. Navigation
* 3. Home Page 
* 4. Media width
* 5. Venues Page
*--------------------*/

/********************************
*  1. General
*********************************/
.my-bookings .jumbotron {
	width: 100%;
}

/********************************
*  2. Navigation Menu
*********************************/
.navigation-menu img {
	max-height: 4em;
	width: auto;
	height: auto;
}

.navigation-menu .navbar-toggler i {
	color: white;
}

.navigation-menu .navbar-left {
	padding-right: 5.5em;
}

.navigation-menu .navbar-toggler {
	border-color: white !important;
}

.navigation-menu nav {
	background: #0060c1;
	margin-bottom: 1em;
}

.navigation-menu a.navbar-brand {
	color: white;
}

.navigation-menu a.nav-item.nav-link {
	padding: 0.5em 5em !important;
}

.navigation-menu .dropdown-menu.show {
	float: left !important;
}

/********************************
*  3. Home Page
*********************************/
.carousel-item {
	height: 350px;
}

.carousel-inner>.item>img {
	margin: 0 auto;
}

/********************************
*  4. Media Width
*********************************/
@media only screen and (max-width: 760px) {
	div#mainCarousel {
		height: 11em;
	}
}

@media only screen and (max-width: 450px) {
	div#mainCarousel {
		height: 9em;
	}
}
/********************************
*  5. Venues Page
*********************************/
.venues-page .venues-list .venue img {
	height: auto;
	width: 100%;
}

.venues-page .venues-list .venue {
	overflow: hidden;
	border: 1px solid #8a8a8a;
	padding: 10px;
	margin-bottom: 1em;
}

form.booking-form {
	background: #dedede85;
	padding: 10px;
}